*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body.dark-theme{
    --first-color-dark: hsl(var(--hue), 8%, 20%);
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 75%);
    --body-color: hsl(var(--hue), 8%, 12%);
    --container-color: hsl(var(--hue), 8%, 16%);
  }
             /* ==========hero section============= */
  .hero-section{

background-size: cover;
font-size: var(--h2-font-size);
margin-top:4.5rem;
height: 22rem;
line-height: 20rem;
text-align: center;
clip-path: polygon(0 0, 100% 0, 100% 73%, 50% 100%, 49% 100%, 0 72%);
}


  .hero-section .hero h1 a{
   color:#fff;      
  }
  .hero-section .hero h1 a:hover{
   color: hsl(var(--hue), 34%, 32%);
  }
  .hero-section .pp1 a{
   color:#fff;      
  }
  

             /* ==========hero section============= */
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
   
}



.card-body{
    padding: 25px;
    margin-top: -15px;
}

.card-text{
    color: black;
}

.card-title{
    color: black;
}

.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
/* h3,h5{
  
} */

.col{
    margin-top: 2rem;
}